@import "tailwindcss";


:root{
    --primaryBg:blue;
    --secondaryBg:red;
    --primaryFontColor:black;
    --secondaryFontColor:gray
}

@theme {
    --color-primaryBg: var(--primaryBg);
    --color-secondaryBg: var(--secondaryBg);
    --color-primaryFontColor: var(--primaryFontColor);
    --color-secondaryFontColor: var(--secondaryFontColor);
  }